{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {{ "now"|date("F") }}
        <table class="table table-dark">
            <tr>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
            </tr>
            {% for week in currentMonth %}
                <tr>
                    {% for date,day in week %}
                        <td class="size">
                            {% if not day == 'EMPTY' %}
                                <div class="calendar-day">{{ date | date('d') }}</div>
                            {% endif %}
                            {% for event in day %}
                                {% if event.isWorkHours == false %}
                                    <div class="alert alert-success event">
                                        {{ event.start|date('H:i') }}-{{ event.end|date('H:i') }}
                                        <br>
                                        {{ event.description }}
                                    </div>
                                {% else %}
                                    <div class="calendar-day">{% set string = date|split('-') %} {{ string[2] }}</div>
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

